/*팝업 검색창*/
.modal_wrap {
  display: none;
  width: 900px;
  height: 42px;
  position: absolute;
  top: 39%;
  left: 50%;
  margin: -250px 0 0 -250px;
  background: #601f71;
  z-index: 2;
  border-radius: 9px;
  transform: translate(-22%, -50%);
}
.black_bg {
  display: none;
  position: absolute;
  content: '';
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 1;
}
#modal_btn {
  position: relative;
  left: 0%;
  top: 55%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 16px;
  vertical-align: middle;
}
#modal_close_content {
  background-color: transparent;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 0 0 0;
}
#modal_close_content > form {
  background-color: transparent;
  width: 90%;
}
#modal_close_content > form > input {
  font-size: 15px;
  color: #fff;
  width: 90%;
  padding: 10px;
  border: 0px;
  outline: none;
  border-radius: 15px;
  background-color: transparent;
}
#modal_search {
  height: 26px;
  border: 0px;
  outline: none;
  border-radius: 15px;
  background-color: transparent;
}
.modal_close {
  border: 0px;
  outline: none;
  background-color: transparent;
}
.modal_close > a {
  background-color: transparent;
  height: 0;
}
.modal_close > a > img {
  height: 26px;
  margin-top: 5px;
  background-color: transparent;
}
#modal_search > img {
  height: 26px;
  position: relative;
  top: 25%;
  margin-left: 10px;
  background-color: transparent;
}