<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>recofilm</title>

    <link rel="stylesheet" href="css/board/write.css">
	<link rel="stylesheet" href="css/repeat/header.css">
	<link rel="stylesheet" href="css/repeat/footer.css">
	<link rel="stylesheet" href="css/repeat/popup_search.css">
</head>
<body>
    <div id="wrap">
		<div th:replace="/repeat/header.html :: header"></div>
		<div th:replace="/repeat/header.html :: menu"></div>

        <div id="content-wrap">
			<div class="content-container">
				<div class="write_header">

				</div>

				<form method="post" action="${action}">
					<table>
						<tr>
							<th>제목</th>
							<td><input type="text" name="title"  maxlength="80" value="${msg.title}"></td>
						</tr>
						<tr>
							<th>작성자</th>
							<td><input type="text" name="writer" maxlength="20" value="${msg.writer}"></td>
						</tr>
						<tr>
							<th>내용</th>
							<td><textarea name="content" rows="10">${msg.content}</textarea></td>
						</tr>
					</table>

					<br>
					<input type="submit" value="저장">
					<input type="button" value="취소" onclick="history.back()">
				</form>
			</div>
        </div>

		<div th:replace="/repeat/footer.html :: footer"></div>

    </div>

	<div th:replace="/repeat/popup_search.html :: popup_search"></div>
	<script src="./js/popup_search.js"></script>
</body>
</html>