/*기본*/
* {
  margin: 0;
  padding: 0;
  background-color: #1c1c1c;
  font-family: 맑은고딕, Malgun Gothic, dotum, gulim, sans-serif;
}
ul li {
  list-style: none;
}

#wrap {
  width: 100%;
  height: 1000px;
}
#content-wrap {
  width: 100%;
}
.content-container {
  width: 90%;
  overflow:hidden;
  height:auto;
  margin: 30px auto;
  color: #fff;
  margin-bottom: 200px;
}

/*콘텐츠*/
.random_wrap {
  width: max-content;
  height: max-content;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 80px;
}
.random_wrap > ul > li {
  text-align: center;
}
.first_li > img {
  width: 114px;
  height: 114px;
  margin-bottom: 34px;
}
.second_li {
  font-size: 32px;
  color: #ffffff;
  margin-bottom: 17px;
}
.third_li {
  font-size: 24px;
  color: #c2c2c2;
  margin-bottom: 76px;
}
.btn_run {
  width: 263px;
  height: 68px;
  border-radius: 34px;
  color: #ffffff;
  background-color: #a835c6;
  border: none;
  margin-bottom: 200px;
}
.btn_run > a{
  text-decoration: none;
  color: #ffffff;
  background: transparent;
  font-size: 22px;
}
.last_li {
  font-size: 20px;
  color: #ffffff;
}