/*기본*/
* {
  margin: 0;
  padding: 0;
  background-color: #1c1c1c;
  font-family: 맑은고딕, Malgun Gothic, dotum, gulim, sans-serif;
}
ul li {
  list-style: none;
}
#wrap {
  width: 100%;
  height: 1000px;
}
#content-wrap {
  width: 100%;
}
.content-container {
  width: 1100px;
  overflow:hidden;
  height:auto;
  margin: 30px auto;
  color: #fff;
}

/*콘텐츠*/
a {
  color: #333;
  text-decoration: none;
}
input {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 10px 0 10px 0;
  padding: 1px 0px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}
.inner_login {
  height: 1500px;
}
.login_tistory {
  position: relative;
  width: 900px; /* 로그인 폼 가로길이 */
  margin: 0 auto;
}
.screen_out {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  line-height: 0;
  text-indent: -9999px;
}
body,
button,
input,
select,
td,
textarea,
th {
  font-size: 13px;
  line-height: 1.5;
}
fieldset,
img {
  border: 0;
}
.login_title {
  font-size: 42px;
  color: #FFFFFF;
}
.login_subTitle {
  font-size: 28px;
  color: #C2C2C2;
}
.login_tistory .box_login {
  margin: 50px 0 0 0;
  border: none;
  border-radius: 3px;
  background-color: transparent;
  box-sizing: border-box;
}
.login_tistory {
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 846px;
  margin: 0;
  padding: 18px 19px 19px;
  box-sizing: border-box;
  background-color: transparent;
}
.inp_text input { /* 로그인 박스 */
  display: block;
  width: 97%;
  height: 84px;
  font-size: 21px;
  color: #000;
  border: solid 1.5px #3F3F3F;
  outline: 0;
  background-color: #CDCDCD;
  margin-bottom: 50px;
  padding-left: 20px;
}
#pw2 {
  margin-bottom: 26px;
}
#check {
  margin-left: 5px;
  margin-bottom: 50px;
}
#check2 {
  margin-left: 5px;
  margin-bottom: 50px;
}
.login_join {
  width: 263px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.btn_login { /* 로그인 버튼 */
  margin: 20px 0 0;
  width: 100%;
  height: 68px;
  border-radius: 34px;
  font-size: 23px;
  color: #fff;
  border: 0px;
  outline: 0px;
  background-color: #A835C6;
}
.btn_join { /* 회원가입 버튼 */
  margin: 20px 0 0;
  width: 100%;
  height: 68px;
  border-radius: 34px;
  font-size: 23px;
  color: #C15CDB;
  border: solid 2px #A835C6;
  background-color: transparent;
}
.login_append {
  overflow: hidden;
  padding: 15px 0 0;
  margin-bottom: 10px;
}
.inp_chk {
  display: inline-block;
  position: relative;
  margin-bottom: -1px;
}
.login_append .inp_chk {
  float: left;
}
.inp_chk .lab_g {
  display: inline-block;
  margin-right: 19px;
  color: #ffffff;
  font-size: 13px;
  line-height: 19px;
  vertical-align: top;
}
.inp_chk .ico_check {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 1px 4px 0 0;
  background-position: -60px 0;
  color: #ffffff;
}
.inp_chk .txt_lab {
  vertical-align: top;
  font-size: 20px;
}
.login_append .txt_find {
  float: right;
  font-size: 20px;
  color: #ffffff; /* 아이디 비번 찾기에 / */
}
.link_find {
  color: #ffffff;
}
