/*기본*/

* {
  margin: 0;
  padding: 0;
  background-color: #313334;
  font-family: 맑은고딕, Malgun Gothic, dotum, gulim, sans-serif;
}
ul li {
  list-style: none;
}
#wrap {
  width: 100%;
  height: 1000px;
}
#header-wrap {
  width: 100%;
}
#menu-wrap {
  width: 100%;
}
#banner-wrap {
  width: 100%;
}
#content-wrap {
  width: 100%;
}
#footer-wrap {
  width: 100%;
  height: 107px;
  background-color: #fff;
}

.header-container {
  width: 1400px;
  height: 90px;
  margin: 0 auto;
}
.menu-container {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
}
.banner-container {
  width: 1000px;
  height: 300px;
  line-height: 300px;
  margin: 0 auto;
  list-style: none;
}
.content-container {
  width: 1600px;
  height: 1650px;
  margin: auto;
}
.footer-container {
  width: 1000px;
  height: 100px;
  margin: 0 auto;
  background-color: #fff;
}
.search in {
  height: 40px;
  width: 400px;
  border: 1px solid #1b5ac2;
}

/*header*/

#headerLogo {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 49%;
  top: 4%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 8px 0 0 20px;
  width: 300px;
}
#login {
  font-size: 20px;
  list-style: none;
}
#login > li {
  float: right;
  text-align: right;
  margin: 50px 0 0 0;
  font-size: 20px;
  list-style: none;
}
#login > li > a {
  color: #fff;
  text-decoration: none;
}

#header-hr {
  margin: 0 180px 20px 180px;
}

/*콘텐츠*/

.content-container h2 {
  margin: 50px 25px 0px 42px;
  color: #fff;
}

.content_item {
  float: left;
  text-align: center;
  margin: 20px 0 0 35px;
}

.content_item > ul > li > img {
  width: 280px;
  height: 400px;
}

.content_item_name {
  margin-top: 3px;
  font-size: 20px;
  color: #fff;
}

.content_clear {
  clear: both;
}

/*푸터*/

#footer-contents {
  float: center;
  text-align: center;
  font-size: 15px;
  background-color: #fff;
}
#footer-logo {
  position: absolute;
  float: left;
}

/*메뉴*/

#topMenu {
  height: 40px;
  width: 1200px; /* [변경] 하위 메뉴와 동일하게 맞춤 */
}
#topMenu ul {
  /* 메인 메뉴 안의 ul을 설정함: 상위메뉴의 ul+하위 메뉴의 ul */
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
#topMenu ul li {
  /* 메인 메뉴 안에 ul 태그 안에 있는 li 태그의 스타일 적용(상위/하위메뉴 모두) */
  color: #fff;
  float: left;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
}
.menuLink {
  /* 상위 메뉴와 하위 메뉴의 a 태그에 공통으로 설정할 스타일 */
  text-decoration: none;
  display: block;
  width: 290px;
  font-size: 30px;
  color: white;
  line-height: 60px;
}
.submenuLink {
  /* 상위 메뉴와 하위 메뉴의 a 태그에 공통으로 설정할 스타일 */
  text-decoration: none;
  display: block;
  width: 100%;
  font-size: 20px;
  margin: 0 20px 0 20px;
}
.topMenuLi:hover .menuLink {
  /* 상위 메뉴의 li에 마우스오버 되었을 때 스타일 설정 */
  font-weight: bold;
  border-bottom: solid 1px #fff;
}
.longLink {
  /* 좀 더 긴 메뉴 스타일 설정 */
  width: 140px;
}
.submenuLink {
  /* 하위 메뉴의 a 태그 스타일 설정 */
  color: #fff;
}
.submenu {
  /* 하위 메뉴 스타일 설정 */
  position: absolute;
  margin-top: 1px;
  height: 0px;
  overflow: hidden;
  transition: height 0.2s;
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  -o-transition: height 0.2s;
  width: auto; /* [변경] 가로 드랍다운 메뉴의 넓이 */
}
.submenu li {
  display: inline-block;
}
.topMenuLi:hover .submenu {
  height: 40px;
}
.submenuLink:hover {
  font-weight: bold;
}
