/*기본*/
* {
  margin: 0;
  padding: 0;
  background-color: #1c1c1c;
  font-family: 맑은고딕, Malgun Gothic, dotum, gulim, sans-serif;
}
ul li {
  list-style: none;
}
#wrap {
  width: 100%;
  height: 1000px;
}
#banner-wrap {
  width: 100%;
}
#content-wrap {
  width: 100%;
}

.banner-container {
  width: 1000px;
  overflow:hidden;
  height:auto;
  line-height: 300px;
  margin: 0 auto;
  list-style: none;
}
.content-container {
  width: 1450px;
  height: 1950px;
  margin: auto;
}

/*콘텐츠*/

.content-container h2 {
  margin: 100px 20px 0px 10px;
  font-size: 26px;
  color: #fff;
}

.content_item {
  float: left;
  text-align: center;
  margin: 20px 5px 0 5px;
}
.content_item > ul > li > a > img {
  width: 280px;
  height: 400px;
  margin-bottom: -3px;
}
.content_item_name {
  font-size: 20px;
  color: #a9a9a9;
  background-color: #000000;
  line-height: 44px;
  margin-top: -4px;
}

.content_clear {
  clear: both;
}
