/*기본*/
* {
  margin: 0;
  padding: 0;
  background-color: #1c1c1c;
  font-family: 맑은고딕, Malgun Gothic, dotum, gulim, sans-serif;
}
ul li {
  list-style: none;
}
#wrap {
  width: 100%;
  height: 1000px;
}
#content-wrap {
  width: 100%;
}
.content-container {
  width: 90%;
  overflow:hidden;
  height:auto;
  margin: 30px auto;
  color: #fff;
}

/*콘텐츠*/
.movie_info_content{
  width: 90%;
  border: none;
  background-color: transparent;
  display: flex;
  position: relative;
  top: 2%;
  left: 50%;
  transform: translate(-35%, 0);
  margin-bottom: 180px;
}
.movie_info_poster {
  width: 404px;
  height: 570px;
  margin-right: 20px;
}
.movie_infomation {
  width: 70%;
  height: auto;
}
.movie_name {
  font-size: 50px;
  color: #ffffff;
  margin-bottom: 12px;
}
.movie_genre {
  margin-right: 38px;
  margin-left: 5px;
  font-size: 21px;
  color: #dadada;
}
.movie_playtime {
  margin-right: 38px;
  font-size: 21px;
  color: #dadada;
}
.movie_vote {
  font-size: 21px;
  color: #dadada;
}
.vote_star {
  color: #d14b4b;
}
.movie_upcoming_date {
  margin: 13px 0 64px 0;
}
.upcoming_title {
  font-size: 21px;
  color: #989898;
}
.upcoming_date {
  font-size: 21px;
  color: #dadada;
}
.movie_storyLine_title {
  background-color: #5f5f5f;
  color: #ffffff;
  border: none;
  width: 219px;
  height: auto;
  line-height: 38px;
  text-align: center;
  font-size: 17px;
  margin-bottom: 17px;
}
.movie_storyLine {
  width: 70%;
  height: auto;
}

.similar_title {
  font-size: 30px;
  color: #dbdbdb;
  position: relative;
  top: 5%;
  left: 7%;
  transform: translate(0, 0);
  margin-bottom: 21px;
}

.similar {
  width: 90%;
  height: auto;
  display: flex;
  float: left;
  text-align: center;
  position: relative;
  top: 7%;
  left: 50%;
  transform: translate(-48%, 0);
  margin-bottom: 150px;
}
ul li {
  list-style: none;
}
ul {
  margin-right: 21px;
}
.similar_item > ul > li > a > img {
  width: 272px;
  height: 385px;
  margin-bottom: 0px;
}

.similar_item_name {
  margin-top: 3px;
  font-size: 20px;
  color: #a9a9a9;
  background-color: #1c1c1c;
  line-height: 46px;
  margin-top: 0px;
}

.similar_clear {
  clear: both;
}