/*기본*/
* {
  margin: 0;
  padding: 0;
  background-color: #1c1c1c;
  font-family: 맑은고딕, Malgun Gothic, dotum, gulim, sans-serif;
}
ul li {
  list-style: none;
}
#wrap {
  width: 100%;
  height: 1000px;
}
#content-wrap {
  width: 100%;
}
.content-container {
  width: 100%;
  overflow:hidden;
  height:auto;
  margin: 30px auto;
  color: #fff;
}

/*콘텐츠*/

#recofilm_info_title {
  text-align: center;
  font-size: 43px;
  margin: 10px 0 10px 0;
}
#recofilm_info_title_under {
  margin: 0 180px 80px 180px;
}
#recofilm_info_content {
  position: relative;
  left: 50%;
  font-size: 26px;
  width: 900px;
  transform: translateX(-50%);
}
#img_wrap {
  width: 100%;
  height: 126px;
  margin: 100px 0 20px 0;
  background-color: #000000;
}
#img_wrap > img {
  height: 80px;
  position: relative;
  left: 50%;
  top: 50%;
  background-color: transparent;
  transform: translate(-50%, -50%);
}
#recofilm_start_title {
  position: relative;
  left: 50%;
  font-size: 30px;
  transform: translateX(-10%);
  margin: 95px 0 92px 0;
}
#recofilm_start_content {
  position: relative;
  width: 766px;
  left: 50%;
  font-size: 23px;
  transform: translateX(-50%);
  margin-bottom: 256px;
}
#recofilm_start_clear {
  clear: both;
}

