/*기본*/
* {
  margin: 0;
  padding: 0;
  background-color: #313334;
  font-family: 맑은고딕, Malgun Gothic, dotum, gulim, sans-serif;
}
ul li {
  list-style: none;
}
#wrap {
  width: 100%;
  height: 1000px;
}
#content-wrap {
  width: 100%;
}
.content-container {
  width: 70%;
  height: 1200px;
  margin: 30px auto;
  color: #fff;
}

/* 검색 */
#serch-wrap {
  width: 100%;
  height: auto;
}
.search_content > form {
  background-color: transparent;
  width: auto;
  height: 100px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
}
.search_content > form > input {
  font-size: 22px;
  color: #fff;
  width: 50%;
  padding: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px gray;
  outline: none;
  background-color: transparent;
  position: relative;
  top: 30%;
  transform: translateY(-50%);
}
.search_content > form > button {
  border: 0px;
  outline: none;
  background-color: transparent;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.search_content > form > button > img {
  height: 50px;
  background-color: transparent;
}

/*콘텐츠*/


.similar_title {
  font-size: 25px;
  color: #ffffff;
  position: relative;
  top: 5%;
  left: 7%;
  transform: translate(0, 0);
}
.result_num {
  font-size: 28px;
  color: purple;
  margin-left: 10px;
}
.similar {
  width: 90%;
  height: auto;
  display: flex;
  float: left;
  text-align: center;
  position: relative;
  top: 7%;
  left: 50%;
  transform: translate(-50%, 0);
}
ul li {
  list-style: none;
}
.similar_item > ul > li > a > img {
  width: 80%;
  height: auto;
}

.similar_item_name {
  margin-top: 3px;
  font-size: 20px;
  color: #fff;
}

.similar_clear {
  clear: both;
}