/*기본*/
* {
  margin: 0;
  padding: 0;
  background-color: #1c1c1c;
  font-family: 맑은고딕, Malgun Gothic, dotum, gulim, sans-serif;
}
ul li {
  list-style: none;
}
#wrap {
  width: 100%;
  height: 1000px;
}
#content-wrap {
  width: 100%;
}
.content-container {
  width: 90%;
  overflow:hidden;
  height:auto;
  margin: 30px auto;
  color: #fff;
  margin-bottom: 200px;
}

/* 검색 */
#serch-wrap {
  width: 100%;
  height: auto;
  margin-top: 30px;
}
.search_content {
  background-color: black;
  width: auto;
}
.search_content_wrap {
  position: relative;
  left: 50%;
  transform: translateX(-48%);
  background-color: transparent;
  width: 60%;
}
.search_content_wrap > form {
  background-color: transparent;
  width: 100%;
  height: 100px;

}
.search_content_wrap > form > input {
  font-size: 22px;
  color: #fff;
  width: 90%;
  padding: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px gray;
  outline: none;
  background-color: transparent;
  position: relative;
  top: 30%;
  transform: translateY(-50%);
}
.search_content_wrap > form > button {
  border: 0px;
  outline: none;
  background-color: transparent;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.search_content_wrap > form > button > img {
  height: 50px;
  background-color: transparent;
}

/*콘텐츠*/


.similar_title {
  font-size: 30px;
  color: #ffffff;
  position: relative;
  top: 5%;
  left: 7%;
  transform: translate(0, 0);
  width: 500px;
  line-height: 50px;
  margin: 30px 0 10px 0;
}
.result_num {
  font-size: 35px;
  color: #a92ce8;
  margin-left: 10px;
}
.similar {
  width: 90%;
  height: auto;
  position: relative;
  top: 7%;
  left: 50%;
  transform: translate(-50%, 0);
}
ul li {
  list-style: none;
}
.similar_item {
  float: left;
  text-align: center;
  margin: 20px 0 0 35px;
}
.similar_item > ul > li > a > img {
  width: 266px;
  height: auto;
  margin-bottom: -4px;
}

.similar_item_name {
  font-size: 20px;
  color: #a9a9a9;
  background-color: #000000;
  line-height: 44px;
  margin-bottom: 80px;
  margin-top: -3px;
}

.similar_clear {
  clear: both;
}