<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="js/windowPopup.js"></script>
    <link rel="stylesheet" href="css/popup_screen.css">

    <script>
        function returnTrue() {

        }

        window.onload = returnTrue();
    </script>
</head>
<body>
<form method="post" action="" class="table_form" enctype="multipart/form-data">
    <div id="tel_check_num_box">
        <p>인증이 완료되었습니다 (3초후 자동종료)</p>
        <input type="button" class="btn_tel_num_check" value="확인" onclick="close()">
    </div>
</form>
</body>
</html>