/*기본*/
* {
  margin: 0;
  padding: 0;
  background-color: #1c1c1c;
  font-family: 맑은고딕, Malgun Gothic, dotum, gulim, sans-serif;
}
ul li {
  list-style: none;
}

#wrap {
  width: 100%;
  height: 1000px;
}
#content-wrap {
  width: 100%;
}
.content-container {
  width: 100%;
  overflow:hidden;
  height:auto;
  margin: 30px auto;
  color: #fff;
  margin-bottom: 200px;
}

/* top 3 */

.top_three {
  width: 100%;
  height: 800px;
  margin-bottom: 107px;
  background-color: #393939;
}
.top_three_wrap{
  width: max-content;
  height: auto;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
}
.top_three_item {
  float: left;
  text-align: center;
  margin: 0 60px 0 60px;
}
.top_three_item > ul > li > a > img {
  width: 312px;
  height: 494px;
  margin-bottom: -3px;
}

.top_three_name {
  font-size: 20px;
  color: #a9a9a9;
  background-color: #000000;
  line-height: 44px;
  margin-top: -4px;
}

.first > img {
  width: 98px;
  height: 226px;
  position: absolute;
  left: 54px;
  top: 0;
  transform: translate(-50%,-50%);
  background: transparent;
}
.second > img {
  width: 98px;
  height: 226px;
  position: absolute;
  left: 484px;
  top: 0;
  transform: translate(-50%,-50%);
  background: transparent;
}
.third > img {
  width: 98px;
  height: 226px;
  position: absolute;
  left: 920px;
  top: 0;
  transform: translate(-50%,-50%);
  background: transparent;
}

.top_three_clear {
  clear: both;
}

/*콘텐츠*/

.similar_title {
  font-size: 30px;
  color: #ffffff;
  position: relative;
  top: 5%;
  left: 7%;
  transform: translate(0, 0);
  width: 500px;
  line-height: 50px;
  margin: 30px 0 10px 0;
}
.result_num {
  font-size: 35px;
  color: #a92ce8;
  margin-left: 10px;
}
.similar {
  width: 1240px;
  height: auto;
  position: relative;
  top: 7%;
  left: 50%;
  transform: translate(-50%, 0);
}
ul li {
  list-style: none;
}
.similar_item {
  float: left;
  text-align: center;
  margin: 20px 0 125px 35px;
}
.similar_item > ul > li > a > img {
  width: 266px;
  height: auto;
  margin-bottom: -3px;
}

.similar_item_name {
  font-size: 20px;
  color: #a9a9a9;
  background-color: #000000;
  line-height: 44px;
  margin-top: -4px;
}

.similar_clear {
  clear: both;
}