/*기본*/
* {
  margin: 0;
  padding: 0;
  background-color: #1c1c1c;
  font-family: 맑은고딕, Malgun Gothic, dotum, gulim, sans-serif;
}
ul li {
  list-style: none;
}
a {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
}

#wrap {
  width: 100%;
  height: 1000px;
}
#content-wrap {
  width: 100%;
}
.content-container {
  width: 90%;
  overflow:hidden;
  height:auto;
  margin: 30px auto;
  color: #fff;
}

/*콘텐츠*/
.board_title {
  width: 1142px;
  height: 44px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 16px;
}
.write_btn {
  width: 91px;
  height: 40px;
  border-radius: 7px;
  background-color: #a835c6;
  float: right;
  border: none;
}
.write_btn > a {
  color: #ffffff;
  line-height: 40px;
  font-size: 15px;
  background: transparent;
}
#table_title {
  float: left;
  font-size: 33px;
}

/*테이블*/
table     {
  width: 1142px;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-collapse: collapse;
  font-size: 21px;
  border-top: solid #c2c2c2 3px;
}
th {
  background-color: #4d4d4d;
}
th, td {
  color: #ffffff;
  border-bottom: solid #707070 2px;
  padding: 13px;
}
.num {
  width: 84px;
}
.division {
  width: 100px;
}
.title {
  width: 500px;
}
.writer {
  width: 130px;
}
.regtime {
  width: 165px;
}
.hits {
  width: 110px;
}
.import_division > div {
  color: #a835c6;
  border: solid #a835c6 2px;
  border-radius: 10px;
  line-height: 28px;
  background-color: #a835c6;
  background-color: rgba( 168, 53, 198, 0.2 );
}
.import_a {
  color: #c366db;
  list-style: none;
  text-decoration: none;
}

a:link a:visited a:hover {
  text-decoration:none;
}

/*선택과 검색*/
.select_wrap {
  width: 780px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 42px;
  margin: 41px 0 200px 0;
}
#select_box {
  width: 136px;
  background-color: #ffffff;
  font-size: 15px;
  float: left;
  height: 42px;
  margin-right: 15px;
  border: none;
}
.search_box {
  float: left;
  height: 42px;
}
#search_text {
  width: 495px;
  font-size: 15px;
  height: 42px;
  margin-right: -3px;
  line-height: 20px;
  border: none;
  background-color: #ffffff;
  padding-left: 23px;
}
#search_button {
  width: 91px;
  background-color: #a835c6;
  color: #ffffff;
  font-size: 19px;
  height: 42px;
  margin-left: -2px;
  border: none;
}