/*기본*/
* {
  margin: 0;
  padding: 0;
  background-color: #1c1c1c;
  font-family: 맑은고딕, Malgun Gothic, dotum, gulim, sans-serif;
}
ul li {
  list-style: none;
}
a {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
}

#wrap {
  width: 100%;
  height: 1000px;
}
#content-wrap {
  width: 100%;
}
.content-container {
  width: 90%;
  overflow:hidden;
  height:auto;
  margin: 30px auto;
  color: #fff;
}

/*콘텐츠*/

/*콘텐츠 해더*/
.view_header {
  width: 1220px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: solid #ffffff 2px;
  margin-bottom: 20px;
}
.title {
  height: 46px;
  margin: 0 0 20px 32px;
  display:inline-block;
  vertical-align:middle;
}
.title > #title {
  font-size: 35px;
  display:inline-block;
  vertical-align:middle;
}
.title > #view_title {
  font-size: 26px;
  line-height: 46px;
  color: #a835c6;
  display:inline-block;
  vertical-align:middle;
}
.regtime_hits {
  margin: 0 0 20px 48px;
  color: #bebebe;
  font-size: 17px;
}
.regtime_hits > p {
  font-size: 20px;
  color: #FFFFFF;
  margin-bottom: 6px;
}

/*테이블 내용*/
.view_content {
  width: 1200px;
  padding: 0 40px 0 40px;
  min-height: 600px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: solid 2px #ffffff;
}
.view_content_td {
  min-height: 700px;
  width: 1220px;
  text-align: left;
  vertical-align: top;
}
.view_content_td > img {
  max-width: 1220px;
  margin-bottom: 10px;
}

/*컨트롤 버튼*/
.control_btn_wrap {
  float: right;
  position: absolute;
  top: 320px;
  right: 350px;
}
.control_btn_wrap > button {
  font-size: 17px;
  line-height: 30px;
  border-radius: 5px;
  width: 80px;
  height: 40px;
}
.control_btn_wrap > button > a {
  background: transparent;
}
.btn_rewrite {
  background-color: #a835c6;
  color: #ffffff;
  border: solid 1px #a835c6;
}
.btn_delete {
  border: solid 1px #a835c6;
}
.btn_delete > a {
  color: #a835c6;
}

/*댓글*/
.comment {
  margin: 0 380px 25px 380px;
}
.comment_btn_group {
  width: max-content;
  height: 28px;
  position: relative;
  top: -75px;
  left: 40px;
}
#comment_logo > img {
  width: 34px;
  height: 28px;
  margin-right: 10px;
  display:inline-block;
  vertical-align:middle;
}
#comment_id {
  font-size: 16px;
  line-height: 28px;
  vertical-align: middle;
  color: #FFFFFF;
  margin-right: 10px;
}
#comment_count {
  font-size: 16px;
  line-height: 28px;
  vertical-align: middle;
  color: #FFFFFF;
}
.comment_title {
  margin: -40px 0 -10px 5px;
  font-size: 22px;
  color: #FFFFFF;
}

.comment_content_wrap {
  padding: 25px 0 25px 62px;
  width: 1068px;
  height: max-content;
  border-bottom: 1px solid #8f8f8f;
}
.nickname {
  font-size: 16px;
  color: #FFFFFF;
  font-weight: bold;
  margin-bottom: 9px;
}
.comment_content {
  font-size: 16px;
  color: #FFFFFF;
  margin-bottom: 9px;
}
.comment_time {
  font-size: 13px;
  color: #FFFFFF;
}
/*댓글작성*/
.write_comment_container {
  width: 1149px;
  min-height: 120px;
  display: block;
  border-radius: 8px;
  background: transparent;
  border: 2px solid #767676;
}
#user_id {
  margin: 16px 0 10px 17px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
}
#comment {
  resize: vertical;
  width: 1106px;
  min-height: 40px;
  height: max-content;
  margin: 0 0 0 26px;
  background: transparent;
  border: none;
  color: #FFFFFF;
}
#btn_write {
  float: right;
  color: #be3de0;
  font-size: 16px;
  margin: 0 25px 21px 0;
}