/*기본*/
* {
  margin: 0;
  padding: 0;
  background-color: #1c1c1c;
  font-family: 맑은고딕, Malgun Gothic, dotum, gulim, sans-serif;
}
ul li {
  list-style: none;
}
a {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
}

#wrap {
  width: 100%;
  height: 1000px;
}
#content-wrap {
  width: 100%;
}
.content-container {
  width: 90%;
  overflow:hidden;
  height:auto;
  margin: 30px auto;
  color: #fff;
}

/*콘텐츠*/

/*콘텐츠 해더*/
.write_header {
  width: 1142px;
  height: 60px;
  border-bottom: solid 2px #c2c2c2;
  margin-bottom: 32px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: left;
}
.write_header > p {
  font-size: 33px;
  margin-bottom: 15px;
  color: #ffffff;
}
/*매너 작성 요청사항*/
.manner_logo {
  width: 21px;
  height: 24px;
  position: absolute;
  left: 63px;
  top: 19px;
  background: transparent;
}
.manner_info {
  width: 1118px;
  height: 93px;
  background-color: #4a4a4a;
  border: solid 2px #a835c6;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 74px;
}
.manner_text {
  width: 758px;
  font-size: 18px;
  color: #ffffff;
  background: transparent;
  line-height: 34px;
  margin: 12px 0 0px 104px;
}
.manner_text > strong {
  background: transparent;
}

/*테이블 내용*/
.table_form {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 1100px;
  margin-bottom: 250px;
}
table {
  background: transparent;
}
th {
  width: 130px;
  line-height: 41px;
  text-align: left;
  vertical-align: middle;
  background: transparent;
}
#select-box {
  color: #000000;
  background-color: #ffffff;
}
td {
  width: 885px;
  color: #ffffff;
  text-align: left;
  vertical-align: top;
}
td > input, textarea, select {
  width: 885px;
  background-color: #ffffff;
  text-align: left;
  vertical-align: top;
  margin-bottom: 18px;
}
td > input {
  height: 41px;
}
td > select {
  width: 123px;
  height: 37px;
  background-color: #ffffff;
  color: black;
}
input[type='radio'] {
  -webkit-appearance:none;
  width:25px;
  height:25px;
  border:2px solid #a835c6;
  border-radius:50%;
  outline:none;
  background: transparent;
}
input[type='radio']:before {
  content:'';
  display:block;
  width:60%;
  height:60%;
  margin: 20% auto;
  border-radius:50%;
}
input[type='radio']:checked:before {
  background:#a835c6;
}
.file_add {
  background: transparent;
  width: 300px;
  height: 31px;
  color: #b4b4b4;
  font-size: 15px;
  line-height: 20px;
}

/*버튼*/
.button_wrap {
  position: absolute;
  right: 0;
  top: -90px;
}
.btn_submit {
  width: 83px;
  height: 40px;
  border: solid 2px #a835c6;
  border-radius: 7px;
  background-color: #a835c6;
  color: #ffffff;
  font-size: 15px;
}
.btn_cancel {
  width: 83px;
  height: 40px;
  border: solid 2px #a835c6;
  border-radius: 7px;
  background: transparent;
  color: #a835c6;
  font-size: 15px;
}